.main {
  &__about {
    margin: 0px;
    @include medium;
    @include small;
  }
  &__aboutBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    img {
      width: 100%;
      max-width: 1240px;
    }
  }
  &__aboutInfos {
    width: 1023px;
    height: 100%;
    max-width: 1023px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 31px 0px 31px 0px;
    gap: 30px;
    font-size: 1.3rem;
    @include small {
      font-size: 0.8rem;
    }
  }
}
