.main {
  &__accomodation {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    @include medium;
    @include small {
      margin-top: 0px;
    }
    &--carousel {
      width: 100%;
    }
    &--infos {
      width: 100%;
      display: flex;
      margin: 0px;
      @include small {
        flex-direction: column;
      }
    }
    &--dropdowns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include medium {
        width: 748px;
      }
      @include small {
        flex-direction: column;
        gap: 30px;
      }
    }
    &--dropdown {
      width: 585px;
      height: 250px;
      margin: 0px;
      @include large {
        width: 500px;
      }
      @include medium {
        width: 370px;
      }
      @include small {
        height: 100%;
      }
    }
  }
}
