.main {
  &__accomodation {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    @include small {
      margin-top: 0px;
    }
    &--carousel {
      width: 100%;
    }
    &--dropdowns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &--dropdown {
      width: 585px;
      height: 250px;
      margin: 0px;
    }
  }
}
