.main {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  &__homeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
    position: relative;
    img {
      width: 100%;
      max-width: 1240px;
    }
    &--homeTitle {
      position: absolute;
      color: white;
      width: 710px;
      height: 68px;
      font-size: 48px;
      font-weight: 500;
      top: 50px;
      left: 400;
    }
  }
}
