@mixin errorPage {
  .main {
    &__errorPage {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      &--type {
        font-size: 16rem;
        font-weight: 700;
        padding-top: 6rem;
        padding-bottom: 4rem;
        margin: 0px;
        @include small {
          font-size: 8rem;
          margin-top: 100px;
        }
      }
      &--title {
        font-size: 2rem;
        text-align: center;
        margin: 0px;
        @include small {
          width: fit-content;
          font-size: 1.5rem;
        }
      }
      &--link {
        font-size: 1rem;
        padding-top: 10rem;
        text-decoration: underline;
        margin: 0px;
      }
    }
  }
}

@mixin homeBanner-tab {
  @media screen and (max-width: 768px) {
    max-width: 748px;
    &--title {
      font-size: 2rem;
    }
  }
}

@mixin homeBanner-mobile {
  @media screen and (max-width: 375px) {
    justify-content: flex-start;
    &--img {
      display: none;
    }
    &--imgMobile {
      max-width: 335px;
      display: flex;
    }
    &--title {
      margin-left: 25px;
      font-size: 1.3rem;
      &--breack {
        display: flex;
      }
    }
  }
}

@mixin large {
  $breakpoints: (
    medium: 1024px,
  );
  @media screen and (max-width: map-get($breakpoints, medium)) {
    max-width: 1024px;
    @content;
  }
}

@mixin medium {
  $breakpoints: (
    medium: 768px,
  );
  @media screen and (max-width: map-get($breakpoints, medium)) {
    max-width: 748px;
    @content;
  }
}

@mixin small {
  $breakpoints: (
    small: 375px,
  );
  @media screen and (max-width: map-get($breakpoints, small)) {
    // max-width: 300px; >> ne fct pas ???
    width: 335px;
    @content;
  }
}
