.header {
  &__container {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 68px;
  }
  &__logo {
    margin: 0px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 57px;
    margin-right: 0;
    font-size: 1.5rem;
    .nav__link {
      text-decoration: none;
      &--active {
        text-decoration: underline;
      }
    }
  }
  // @include header-tab;
  // @include header-mobile;
  @include medium {
    max-width: 748px;
    &__container {
      margin: 10px;
      padding: 0px;
    }
  }
  @include small {
    &__container {
      margin: 10px;
      padding: 0px;
    }
    &__logo {
      img {
        width: 120px;
      }
    }
    &__nav {
      font-size: 0.9rem;
      gap: 10px;
    }
  }
}
