.header {
  &__container {
    max-width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
  }
  &__logo {
    width: 210px;
    height: 68px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 57px;
    font-size: 24px;
    .nav__link {
      text-decoration: none;
      &--active {
        text-decoration: underline;
      }
    }
  }
}
