.footer {
  &__container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    &--logo {
      margin: 2rem 0rem 2rem 0rem;
    }
    &--title {
      color: white;
      margin-bottom: 1.5rem;
    }
    @include medium;
    @include small {
      height: 150px;
      gap: 15px;
      &--logo {
        width: 100px;
        margin: 0px;
      }
      &--title {
        font-size: 0.7rem;
        margin: 0px;
      }
    }
  }
}
